<!DOCTYPE html>
<html>
  <head>
    <title><%= pagetitle %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <!-- NAVIGATION BAR -->
    <div class="NavBar">
      <h1><%= pagetitle %> </h1>
      <a class="NavBarLink" href="/">Home</a>
      <a class="NavBarLink" href="/categories">Categories</a>
      <a class="NavBarLink" href="/products">Products</a>
      <input placeholder="Search product"/>
    </div>
  <!-- NAVIGATION BAR -->
  <!-- PAGE CONTENT -->
    <h1> The Odin Inventory </h1>
    <br/>
    <p>Your inventory currently contains:</p>
    <p>Categories: <strong><%= numCategories %></strong></p>
    <p>Products: <strong><%= numProducts %></strong></p>
    <p>Items: <strong><%= numItems %></strong></p>
    <br/>
    <p>The combined market value of your inventory is: <strong><%= TotalValueOfAllProducts %></strong></p>
    <br/>
    <p>There are <strong><%= expiringSoon.length %> </strong> products within a week of their expory date.</p>
    <% if (expiringSoon.length > 0) { %>
      <ul>
        <% expiringSoon.forEach(item=> { %>
            <li>
                <a href="<%= item.url %>"><%= item.name %> (<%= item.expiryDate %>)</a>
                
            </li>
            <% }); %>
    </ul>
    <%}%>
  <!-- PAGE CONTENT -->






  </body>
</html>
