<!DOCTYPE html>
<html>

<head>
    <title>
        Add product
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <!-- NAVIGATION BAR -->
    <div class="NavBar">
        <h1>
            Products
        </h1>
        <a class="NavBarLink" href="/">Home</a>
        <a class="NavBarLink" href="/categories">Categories</a>
        <a class="NavBarLink" href="/products">Products</a>
        <input placeholder="Search product" />
    </div>
    <!-- NAVIGATION BAR -->

    <h1> <%= product.name %> </h1>
    <h3> <%= product.description %> </h3>
    <h3> <%= product.category %> </h3>
    <h3> <%= product.price %> </h3>
    <h3> <%= product.numberInStock %> </h3>
    <h3> <%= product.expiryDate %> </h3>
    <!-- PAGE CONTENT -->






    <!-- PAGE CONTENT -->






</body>

</html>